.suggestion-item {
  height: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 4px 2px 4px;
  cursor: pointer;
}

.suggestion-text {
  font-family: 'Roboto';
  font-size: 14px;
  color: #475569;
}

.arrow-img {
  height: 16px;
  width: 16px;
}
